
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Factor Logo" src="../assets/logo.png"/>
  <span>Welcome to Factor</span>
</div>

<!-- Main Content -->
<div class="content" role="main">

  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <nav>
    <nav>
      <a class="button" routerLink="/upload" routerLinkActive="activebutton">Upload Video</a>
      <a class="button" routerLink="/video" routerLinkActive="activebutton">Watch Video</a>
    </nav>
  </nav>

</div>
  
<router-outlet></router-outlet>
