.App {
  text-align: center;
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
}

.App-body {
  margin-bottom: 9%;
}

.App-home {
  margin-top: 10vh;
}

.App-footer {
  bottom: 0;
  width: 100%;
  background-color: turquoise;
  position: absolute;
}

.App-footer:after {
  content: "";
  display: table;
  clear: both;
}

.link {
  color: #000000;
}

.App-upload {
  margin: 1%;
}

#videoLis {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-color: black;
}

#videoWrapper {
  background-color: rgba(0, 0, 0, 0.788);
  border-width: 2px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  text-align: left;
  margin: 1%;
  padding: 1%;
  color: white;
}

#videoFrame {
  padding: 1%;
}

#button {
  color: turquoise;
  padding: 1em 4em;
  border: 0.2em solid rgb(255, 255, 255);
  margin: 0 2em 2em 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.452);
  font-weight: 1000;
  font-size: 100%;
}

#button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

.transcriptShow {
  background-size: cover;
  margin: 0 1em 0 1em;
  background-color: white;
}

#awsShow {
  background-image: url(../sources/aws.png);
  width: 200px;
  height: 80px;
  cursor: pointer;
}

#ibmShow {
  background-image: url(../sources/ibm.png);
  width: 200px;
  height: 80px;
  cursor: pointer;
}

#azShow {
  background-image: url(../sources/azure.png);
  width: 200px;
  height: 80px;
  cursor: pointer;
}

#gcShow {
  background-image: url(../sources/GoogleCloud.png);
  width: 200px;
  height: 80px;
  cursor: pointer;
}

#dsShow {
  background-image: url(../sources/deepspeech.png);
  width: 220px;
  height: 80px;
  cursor: pointer;
}

#videoTranscript {
  cursor: pointer;
  background-color: #ffffff;
  padding: 1%;
  border-style: solid;
  margin: 1%;
  text-align: justify;
}

#button-home {
  padding: 1%;
  margin: 1%;
  box-shadow: 2px 2px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 10%;
  float: left;
  cursor: pointer;
}

#button-home:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#button-log {
  padding: 1%;
  margin: 1%;
  box-shadow: 2px 2px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 10%;
  float: left;
  cursor: pointer;
}

#button-log:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#login-main {
  padding: 1%;
  margin-left: 40%;
  box-shadow: 2px 2px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 20%;
  cursor: pointer;
}

#login-main:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#user {
  margin: 1%;
  color: white;
  width: 70%;
  float: left;
}

.upload-button {
  padding: 1%;
  border-style: solid;
  border-color: black;
  background-color: rgb(255, 255, 255);
  width: 30%;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 35%;
  font-weight: bolder;
}

.upload-button:hover {
  background-color: turquoise;
}

#App-fileUpload {
  border-style: solid;
  border-color: turquoise;
  padding: 5% 2.5% 5% 2.5%;
  margin: 5% 0 5% 0;
  background-color: rgba(0, 0, 0, 0.411);
  align-content: center;
}

input[type="text"] {
  width: 100%;
  padding: 4px 4px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 0.5em;
  font-weight: bolder;
}

input[type="file"] {
  width: 50%;
  padding: 2%;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  margin-top: 25px;
  border-color: turquoise;
  border-style: solid;
}

#App-fileNaming {
  font-size: 2em;
  color: white;
}
