AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
IBM_API_KEY=
IBM_URL=
AZURE_KEY=
AZURE_REGION=
GOOGLE_APPLICATION_CREDENTIALS=/run/secrets/google.json
MONGO_URI=mongodb://factor-usr:CHANGE_ME@database:27017/factor-dev
